*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.bg_color{
  background-color: #3c64B4 !important;
} 

.nav.nav-pills .nav-link.active {
  background-color: #3c64B4 !important;
}

.nav.nav-tabs .nav-link.active {
  background-color: #3c64B4 !important;

}

.chart_css{
  align-items: center;
  width: 400px;
}
.footer-css{

  text-align: center;
  background-color: #3c64B4;
  height: 50px !important;

}

.footer-text{
  margin-top: 100vh;
  position: fixed;
  margin: 0;
  position: relative;
  top: 50%;
  color: aliceblue;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.col-bg-color{
  background-color: rgb(122, 148, 196);
}
.margin-css{
  position: relative;
  margin-right: 0 !important;
} 

.footer-css{
  display: block;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #3c64B4 !important;
  height: 50px !important;
  color: white !important;
}
.bg_color{
  background-color: #3c64B4 !important;
} 
.border-info-css{
  border: 2px solid #bac3d3 !important;
}
.form-select-css{
  color: rgb(246, 248, 248);
  border: solid 1px rgb(247, 248, 248);
  background: transparent;
}
.fl{
  background-color: #3c64B4 !important;
}
.tb-css{
  color: #f6f9fd !important;
  background-color: #3c64B4 !important;
}
.nav-css{
  
  background-color: #3c64B4;
}
.nav2-css{
  justify-content: space-between;
}
.logo-css{
  cursor: pointer !important;
  border-radius: 40px;
}
.card-css{
  background-color:#ccd6f3;
}
.pointer{
  cursor: pointer;
}
.btn-css{
  background-color: #3c64B4;
}